@if (Context.Session.GetString("User") == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li style="margin-right: 3vh" class="nav-item">
            <a class=" btn btn-outline-info  text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-info text-dark" asp-area="" asp-controller="Account" asp-action="SignUp">Sign Up</a>
        </li>
    </ul>
}
else
{
    var userLogin = Newtonsoft.Json.JsonConvert.DeserializeObject<Account>(Context.Session.GetString("User"));

    <ul class="nav navbar-nav navbar-right">
        @if (userLogin.Role >= 1)
        {
            <li style="margin-right: 3vh" class="nav-item">
                <a class=" btn btn-outline-info  text-dark" asp-area="" asp-controller="Blog" asp-action="MyBlog" asp-route-id ="@userLogin.Id">My Blog</a>
            </li>
            
        }
        @if (userLogin.Role == 2)
        {
            <li style="margin-right: 3vh" class="nav-item">
                <a class=" btn btn-outline-info  text-dark" asp-area="" asp-controller="Blog" asp-action="MonitorBlog">Manage Blog</a>
            </li>
        }
        <li class="nav-item">
            <a class="btn btn-outline-info text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    </ul>
}
